@import "tailwindcss";
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
html {
  background-color: #F9F6F3; /* Matches your About/Contact background */
}

body {
  overflow-x: hidden;
}

/* Custom Bezier for all animations */
:root {
  --expo: cubic-bezier(0.19, 1, 0.22, 1);
}